# Python-specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
*.env
# *.venv

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints

# Python build artifacts
build/
dist/
.eggs/
*.egg-info/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# Editor-specific files
*.swp
*~
